/* Container */
[data-testid="stAppViewContainer"] {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    color: #666;
}

[data-testid="stAppViewContainer"] > p , h1, h2, h3 {
    color: #666;
}

[data-testid="stForm"] {
    background-color: #666;
}

.stSelectbox > div[data-baseweb="select"] > div {
    background-color: #666;
}

.stSelectbox > div[data-baseweb="select"] > div > input {
    color: #fff;
}

[data-testid="stForm"] input {
    background-color: #666;
}


[data-testid="stHeader"] {
    background-color: rgba(0, 0, 0, 0);
}

/* stJson Calendar */
[data-testid="stJson"] {
    display: none;
}

/* Button  */
[data-testid="stButton"] {
    display: flex;
    justify-content: center;
}

[data-testid="stButton"] [data-testid="baseButton-secondary"] {
    color: aliceblue;
}

@media (max-width: 768px) {
    .stMarkdown p {
        font-size: 0.7rem;
    }
}

h1 {
    color: #666;
}